.vscode
.gitignore
Makefile
README.md

DockerFile

__pycache__
dist
logs
stats
*.pyc
*.pyo
*.pyd
*.mo
*.db
*.css.map
*.egg-info
*sql-gz

.Python
venv
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.idea
.sass-cache
.mypy_cache
.mkdocs
.vagrant/
